---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Partners from "../components/Partners.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import Process from "../components/Process.astro";
import WhyUs from "../components/WhyUs.astro";
import Reviews from "../components/Reviews.astro";
import Faq from "../components/Faq.astro";
import Cta from "../components/Cta.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import WhatsAppFloat from "../components/WhatsAppFloat.astro";
import Interactions from "../components/Interactions.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Partners />
    <Services />
    <Projects />
    <Process />
    <WhyUs />
    <Reviews />
    <Faq />
    <Cta />
    <Contact />
  </main>
  <Footer />
  <WhatsAppFloat />
  <Interactions />
</Layout>
